// $primary_color : #3498db ;
// $sub_color : #2ecc71 ;
// $sup_color : #9b59b6 ;
// $accent_color : #f39c12 ;
@font-face {
    font-family: 'KIMM_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

//
$primary_color: #000000 ;
$sub_color: #333333 ;
$accent_color: #ffffff ;


// 
$main_font:  'KIMM_Bold';